@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5256ad;
}

.main-area
{
    height: 900px;
    width: 900px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.drag-area
{
    border: 2px dashed #fff;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active
{
    border: 2px solid #fff;
}
.drag-area .icon
{
    font-size: 50px;
    color: #fff;
}
.drag-area header
{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.main-area .input-submit
{
    pointer-events: none;
    margin-top: 20px;
    padding: 5px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    
    background: #b5b5b5;
    color: #666666;
    border-radius: 5px;
    cursor: pointer;
}

.main-area .input-submit.active
{
    pointer-events: all;
    background: #fff;
    color: #5256ad;
}

.main-area .input-download
{
    pointer-events: all;
    margin-top: 20px;
    padding: 5px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
    color: #5256ad;
}

.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}