<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag & Drop or Browse: File Upload | CodingNepal</title>
    <link rel="stylesheet" href={{url_for('static', filename="css/style.css")}}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  index_2
  <div class="main-area">
    <div class="drag-area">
      <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
      <header>Drag & Drop to Upload File</header>
      <input type="file" hidden>
    </div>
    <img src="{{ resImg }}" alt="User Image">
    
    <form action="/{{token}}" method="get" class="action-area" enctype="multipart/form-data">
      <input type="submit" value="download" class=".input-submit.active">
    </form>
  </div>
</body>
</html>